html{
  background-color: rgb(238, 238, 238);
}

.form-group{
    margin-bottom: 10px;
}

.btn{
    margin-top: 10px;
}

.main-area{
    margin-top: 20px;
}


li{
    list-style-type: none;
}

/*==== loading spinner=== */
/* by Angela Delise https://www.youtube.com/watch?v=zAbnlisUFZE*/

.loader {
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
  }
  
  .loader div{
    margin: 10px;
    width: 20px;
    height: 20px;
    /* background-color: grey; */
    /* border: 2px solid grey; */
    border-radius: 50%;
    animation: scaling 3s  infinite;
  }
  
  .hidden{
    display: none;
  }
  
  @keyframes scaling {
    0%, 100%{
      /* opacity: 100%; */
      transform:scale(0.2);
      background-color: darkblue;
    }
  
    50%{
      /* opacity: 0%; */
      transform:scale(1);
      background-color:skyblue;
    }
  }
  
  div:nth-child(0){
    animation-delay: 0s;
  }
  div:nth-child(1){
    animation-delay: 0.2s;
  }
  div:nth-child(2){
    animation-delay: 0.4s;
  }
  div:nth-child(3){
    animation-delay: 0.6s;
  }
  div:nth-child(4){
    animation-delay: 0.8s;
  }
  div:nth-child(5){
    animation-delay: 1s;
  }
  div:nth-child(6){
    animation-delay: 1.2s;
  }
  
  /* user profile */
  /* .liked-animal{
    background-color: pink;
  } */

  .card{box-shadow:5px 5px #aeaa92;}