{% extends 'base.html' %}

{# ======= title ======== #}
{% block title %} | Home {% endblock %}

{# ======= body class name ======== #}
{% block body_class %}home{% endblock %}

{# ======= main content area ======== #}
{% block content %}
    <main class="home-container container-fluid">
       
        <h1 class="home-hero-h1">Find your <span class="home-furmily">Furmily</span> Today!</h1>
        <p class="home-hero-p">Search pets from shelters and rescues.</p>
        
        <div class="home-form">
            <form  action="/signup">
                <button class="ready-btn btn btn-secondary"> Signup </button>
            </form>
            <form action="/login">
                <button type="submit" class="ready-btn btn btn-secondary"> Login </button>
                <button type="submit" formaction="/login/demo" method="post" class="demo-login ready-btn btn btn-primary">Demo User</button>
            </form>         
        </div>
    </main>
    <footer class="home-footer">
        <p class="home-footer-p">Made with ❤️ by <a href="https://github.com/Tomomi-K1">Tomomi Kosaka</a></p>
    </footer>
{% endblock %}