{% extends 'base.html' %}

{# ======= title ======== #}
{% block title %} | Login {% endblock %}

{# ======= body class name ======== #}
{% block body_class %}login{% endblock %}

{# ======= main content area ======== #}
{% block content %}
<div class="row justify-content-md-center p-5 mt-5">
    <div class="col-md-7 col-lg-5">
      <div class="card p-4">
        <h2 class="login-message">Login Form</h2>
        <form method="POST" id="login_form">
          {{ form.hidden_tag() }}
    
          {% for field in form if field.widget.input_type != 'hidden' %}
          <div class="form-group">
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{field.label}}
            {{ field(placeholder=field.label.text, class="form-control") }}
          </div>
          {% endfor %}
    
          <button class="btn btn-warning btn-block">Log in</button>
        </form>
      </div>
    </div>
  </div>


{% endblock %}