{% extends 'base.html' %}

{# ======= title ======== #}
{% block title %} | User Profile {% endblock %}

{# ======= body class name ======== #}
{% block body_class %}user-profile{% endblock %}

{# ======= main content area ======== #}
{% block content %}
<main class="row justify-content-md-center wide-card p-5 mt-5">
    <div class="col-md-7">
      <div class="card p-4">
        {% if g.user.username =='testuser' %}
          <h1>Your Info</h1>
          <p>Sorry, you cannot edit Demo User's info</p>
          <form method="POST" action="/users/profile/{{user.id}}" id="user-{{g.user.id}}" class="update-form">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">  
              {{field.label}}
              {{ field(class="form-control", disabled=True) }}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-warning btn-block">Update</button>
          </form>
        {% else %}
          <h1>Your Info</h1>
          <p>if you want to update your info, simply edit below and click Update.</p>
          <form method="POST" action="/users/profile/{{user.id}}" id="user-{{g.user.id}}" class="update-form">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">
              {{field.label}}
              {{ field(class="form-control") }}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-warning btn-block">Update</button>
          </form>
          {% endif %}
      </div>
    </div>
  </main>


{% endblock %}