{% extends 'base.html' %}

{# ======= title ======== #}
{% block title %} | User Profile {% endblock %}

{# ======= body class name ======== #}
{% block body_class %}user-pets{% endblock %}

{# ======= main content area ======== #}
{% block content %}
      <div class="users-pets-area p-5 p-5">
        <h2>Your Favorite Pets</h2>
        <div class="liked-animal row">
          {% if not fav_pets %}
            <p>You have no Favorite pets</p>
          {% endif %}
          {% for animal in fav_pets %}
          <div class="col-sm-2 col-md-3 col-lg-4 mb-3">
            <div class="card users-pets_card data-{{animal['id']}} m-2">
              
              {% if animal['photos'] %}
              <img src="{{animal['photos'][0]['medium']}}" class="card-img-top users-pets_card-img" alt="{{animal['species']}}" height="300">
              {% else %}
              <img src="/static/images/default.jpg" class="card-img-top users-pets_card-img" alt="no picture" height="300">
              {% endif %}   
              
              <div class="liked-pet card-body">
                
                <h3 class="card-title">{{animal['name']}}</h3>
                <form class="form form-group users-pets_delete-form">
                  <button class="btn btn-secondary" data-animal="{{animal['id']}}"><i class="fas fa-trash-alt"></i></button>
                </form>                

                <div class="description">
                  <p>{{animal['type']}}, {{animal['age']}}, {{animal['gender']}}, {{animal['size']}}</p>
                  <br>
                  <p>{{animal['description']}} <a href="{{animal['url']}}">more info</a></p>
                  <p><i class="fas fa-location-dot"></i> {{animal['contact']['address']['city']}}, {{animal['contact']['address']['state']}}</p>
                   
                </div>

                <div class="pet-comment-{{animal['id']}}">
                  <h3>Comments</h3>
                    {% if comments %}
                      {% for comment in comments %}
                        {% if comment.pet_id == animal['id'] %}
                        <p class="{{comment.id}}">{{comment.comment}}</p>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <form class="pet-comment form-group" method="POST">
                      <div>
                      {{ form.hidden_tag() }}
                      {{ form.comment(class="pet-textarea") }}
                      </div>
                      <button class="btn btn-warning" data-animal="{{animal['id']}}"> add a comment </button>
                    </form> 
                </div>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        
{% endblock %}